.Table-container {
    overflow-x: auto; /* Needed for table to be responsive */
  }
  .Table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  .Table-head {
    background-color: #0c2033;
  }
  .Table-head tr th {
    padding: 10px 20px;
    color: #9cb3c9;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
  }
  .Table-body {
    text-align: left;
  }
  .Table-body tr td {
    padding: 14px 20px;
    color: rgb(110, 109, 109);
  }
  .Table-body tr td a {
    color: rgb(4, 187, 243);
  }
  .Table-body tr:nth-child(even) {
    background-color: rgba(231, 228, 228, 0.431);
  }
  .Table-body tr:nth-child(odd) {
    background-color: #FFF;
  }